<html>
    <h1></h1>
        <form action="/router/product/login" method="post">
            <div class="form-group"></div>
            
           Login <input type="text" class="form-control" id="login" name="login"><br>
           password <input type="text" class="form-control" id="password" name="password"><br>
            <button type="submit"name="Login" value="save"></button>
        </form>
    
</html>